/*
  ========================================
  New Page
  ========================================
*/
.player-container {
  background-color: #ddd;
  width: 800px;
  margin: 0 auto;
  padding: 0px 80px 40px 80px;

  h1 {
    text-align: center;
  }

  p {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  label {
    font-size: 22px;
    color: $red;
  }
  input {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 7px;
    margin-left: 5px;
    margin-right: 50px;
    font-size: 22px;
    border: 1px solid #999;
    box-shadow: inset 0 1px 2px #aaa;

    &:focus {
      outline: 0;
      background-color: #300;
      background-color: #fff1ff;
    }
  }
  input[type="submit"] {
    height: 60px;
    width: 200px;
    font-size: 24px;
    border: 1px solid $red;
    background-color: white;
    color: $red;
    cursor: pointer;

    &:hover {
      border: 1px solid white;
      background-color: $red;
      color: white;
    }
  }

  div {
    font-size: 12px;
    font-style: italic;
    color: $red;
    margin-left: 70px;
  }
}
